html {
  box-sizing: border-box;
  width: 100vw;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  color: #212121;
  background-color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

.movies-list-item + .movies-list-item {
  margin-top: 7px;
}
.home-page-title {
  text-align: center;
}
.search-form {
  display: flex;
  /* justify-content: center;
  align-items: center; */
}

.movie-details-container {
  display: flex;
}
.movie-details-info {
  margin-left: 40px;
}
