.btn {
  padding: 5px 15px;
  border: none;
  cursor: pointer;

  transform: scale(1);
  transition: transform 50ms ease-in;

  margin-left: auto;
}
.btn:hover {
  transform: scale(1.1);
}

.number {
  margin: 0 auto;
  padding: 0 10px;
}
.li {
  padding: 5px;
  display: flex;
  border: 1px dashed black;
  margin: 3px 0;
}
